:root{
    --pink: rgb(213, 86, 120);
    --lightpink:#c97f77;
    --brown: rgb(53, 23, 23);
    --darkpink: #913d49;
}

*{
    font-family: verdana, arial, helvetica, sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0px;
    margin:0px;
    color:#111;
}

header{
    position:fixed;
    display:flex;
    z-index:10;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0px;
    transition: all 0.5s;
    align-items: center;
    justify-content:space-around;
}
header .logo{
    position:fixed;
    display:flex;
    z-index:100;
    padding: 0px;
    margin-top:50px;
}
.logo .alogo img{
    position: relative;
    width:150px;
    height:100px;
}
.titre{
    font-weight: bold;
    position: relative;
    left:0;
    font-size:1.5em;
    text-decoration:none;
    text-transform: uppercase;
    color: #fff;
    padding:20px;
}

.titre span{
    color: var(--pink);
}

header .navbar{
    position: relative;
    display:flex;
}
header ul{
    padding-right:0;
}
.navbar a{
    width: 100%;
    text-align: center;
    text-decoration: none;
    align-items: center;
    color: #fff;
    margin-left: 30px;
}
.navbar li {
    list-style: none;
}


.navbar a:hover{
    color: var(--pink);
    letter-spacing: 1px;
    font-weight: bold;
    border-bottom: 2px solid var(--pink);
    transition: all 0.4s;
}


header.sticky{
    background:antiquewhite;
    padding:30px 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.05);
}

header.sticky .titre{
    color:#000;
    padding:0px;
}

header.sticky .navbar li a{
    color:#000;
    padding:0px;
}
header.sticky li a:hover{
    color: var(--pink);
    border-bottom: 2px solid var(--pink);
}
header.sticky .logo{
    margin-top:10px;
}

.service {
    padding:150px;
    position:relative;
    margin:0px;
    width: 100%;
    display:flex;
    background-image: url(./bg/bg2.jpg);
    background-size:cover;
    background-position: center;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
}
.service h2{
    position: relative;
    padding:0px;
    scroll-padding: smooth;
    text-transform: uppercase;
    font-size:2em;
    font-weight: bold;
    color:var(--brown);
}
.service h3{
    margin-left:0px;
    margin-top:70px;
    color:#913d49;
    font-size:1.3em;
    text-transform: capitalize;
}
.dropdown{
    min-width:15em;
    position: relative;
    margin:2em;
}
.dropdowns{
    width:50%;
    position:relative;
    display:flex;
    justify-content: center;
    align-items:center;
    margin-top:350px;
    margin-left:0;
}
.dropdown *{
    box-sizing:border-box;
}
.select{
    background:var(--lightpink);
    color: #fff;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border: 2px #c97f77 solid;
    border-radius:0.5em;
    padding:1em;
    cursor:pointer;
    transition: 0.3s;
}

.select-clicked{
    border: 2px pink solid;
    box-shadow: 0 0 0.8em pink;
}

.select:hover{
    background: #c9766c;
}
.selected{
    color: #fff;
}
.caret{
    width: 0;
    height:0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}
.menu{
    list-style:none;
    padding: 0.2em 0.5em;
    background: pink;
    border: 1px #c97f77 solid;
    box-shadow: 0 0.5em 1em #c9756cd3;
    border-radius: 0.5em;
    color: #fff;
    position:absolute;
    top:3em;
    left:50%;
    width:100%;
    transform: translateX(-50%);
    opacity:0;
    transition:0.2s;
    z-index:1;
}
.menu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius:0.5em;
    cursor:pointer;
}
.menu li:hover{
    background: #c9766c;
}
.active {
    background: #c9766c;
}
.menu-open{
    display:block;
    opacity:1;
}
.service .input{
    background-color: var(--darkpink);
    color:#fff;
    border:none;
    display: inline-block;
    margin-top: 20px;
    padding:20px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size:1.3em;
    border-radius:20px;
}
.service .input a{
    color: #fff;
    text-decoration:none;
    cursor:pointer;
}
.service .input:hover {
    letter-spacing:1.5px;
    transition: all 1s;
}